.comment-form textarea {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.comment div a {
    float: right;
}

.comment {
    background-color: var(--main-bg-color);
}

.reaction-btn{
    color: grey;
    
}

.reaction-btn-active{
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.reaction-set[data-operation="dislike"], .reaction-btn-active:hover[data-operation="dislike"] {
    color: red;
}

.reaction-set[data-operation="like"], .reaction-btn-active:hover[data-operation="like"] {
    color: rgb(3, 255, 16);
}

.reaction-set[data-operation="dislike"]:hover, .reaction-set[data-operation="like"]:hover {
    color: black;
}

