@import './base/variable.css';

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    background-color: var(--main-bg-color);

}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.full-size {
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

