{% extends "base.html" %}

{% block content %}
   {% if not articles %}
   <div class="home_empty-articles content-block padding-2xs flex flex-center full-size">
      <span class="font-2xl">Нет статей</span>
   </div>
   {% else %}
        {% for article in articles %}
            <div class="content-block padding-2xs margin_b-3xs">
                    <h3>{{article.title}}</h3>
                    <div>{{article.content}}</div>


            </div>
        {% endfor %}
   {% endif %}

{% endblock %}
