{% extends 'base.html' %}

{% block content %}

{% if not artiscles %}
<div class="home_empty-articles content-block 
            paddind-2xs flex flex-center full-size"
>
    <span class="font-2xl">Нет статей</span>
</div>
{% else %}
    
    {% for article in articles %}
    if len(self.content) <0 250:
        return self.content
    <article class="content-block paddind-2xs margin_е">
        <a href="{{% url 'article-view article.id' %}}" 
        class="button-link">
            Читать далее
        </a>
</article>
{% endif %}
{% endblock %}
